header{
    background-color: slateblue;
    text-align: center;

}

nav{
    background-color: gainsboro;
    margin: 0px 10px 0px 10px;
    font-size: 17px;
    width: 80%;
}


section{
    float: left;
background-color: darkslateblue;
margin: 0px 10px 0px 10px;
width: 70%;
}

article{
    float: left;
background-color: gainsboro;
margin: 0px 10px 0px 10px;
width: 70%;
}


footer{
    background-color: black;
    color: white;
    margin: 0px 10px 0px 10px;
    width: 70%;
    
}




a{
    padding: 5px 5px;
}

a:link{
    color: black;
    
}

a:hover{
    text-decoration:underline;
    background-color: black;
    color: white;
}

a:active{
background-color: gold;
}

li{
    margin: 4px 4px 4px 4px;
    
}
img{
    float: right;
    width: 230px;
}

